<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col sm="6" lg="3">
        <h1 class="mt-2 mb-4">Plataforma Cityaware</h1>
        <h2 class="mt-2 mb-4">{{titulo}}</h2>
      </b-col>
    </b-row>




    <b-modal id="modalPrevent"  ref="modal_archivo" size="lg" title="Agregar archivo"  v-model="archivo.estado" @ok="agregar_archivo" >

        <b-row v-if="archivo.error" >
          <b-col sm="12" md="12">
            <b-alert show variant="danger">
              <h6 class="alert-heading mb-0">Ingrese archivo con extensión csv!</h6>
            </b-alert>
          </b-col>
        </b-row><!--/.row-->

        <b-row >
          <b-col md="12">
            <div class="card-body">

                    <textarea style="width:100%;height:500px;" v-model="archivo.csv"></textarea>
                    <br>
                		<text-reader @nombre="archivo.nombre = $event" @load="archivo.csv = $event"></text-reader>
            </div>
          </b-col>
        </b-row>
    </b-modal>


    <b-modal id="modalPrevent"  ref="modal" size="" title="Agregar opinión"  v-model="opinion.estado" @ok="agregar_opinion()" >
      <b-row >
        <b-col md="12">
          <b-row>
            <b-col sm="12">
              <b-form-group>
                <label for="titulo">Título</label>
                <b-form-input type="text" id="titulo" placeholder="Ingrese título" v-model="opinion.titulo"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-modal>




        <b-modal id="modalPrevent"  ref="modal" size="" title="Agregar aporte"  v-model="aporte.estado" @ok="agregar_aporte()" >
            <b-row >
              <b-col md="12">
                <b-row>
                  <b-col sm="12">
                    <b-form-group>
                      <label for="titulo">Título</label>
                      <b-form-input type="text" id="titulo" placeholder="Ingrese título" v-model="aporte.titulo"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
        </b-modal>


    <b-modal id="modalPrevent"  ref="modal" size="" title="Agregar problema"  v-model="problema.estado" @ok="agregar_problema()" >
        <b-row >
          <b-col md="12">
            <b-row>
              <b-col sm="12">
                <b-form-group>
                  <label for="titulo">Título</label>
                  <b-form-input type="text" id="titulo" placeholder="Ingrese título" v-model="problema.titulo"></b-form-input>
                </b-form-group>
                <b-form-group>
                  <label for="fecha">Fecha</label>
                  <b-form-input type="text" id="fecha" placeholder="Ingrese fecha" v-model="problema.fecha"></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
    </b-modal>


    <b-modal id="modalPrevent"  ref="modal" size="" title="Agregar problematica"  v-model="problematica.estado" @ok="agregar_problematica()" >
        <b-row >
          <b-col md="12">
            <b-row>
              <b-col sm="12">
                <b-form-group>
                  <label for="titulo">Título</label>
                  <b-form-input type="text" id="titulo" placeholder="Ingrese título" v-model="problematica.titulo"></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
    </b-modal>




    <b-row>

      <b-col md="4" v-if="problematicas" v-show="primera_linea_arbol == true ">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Temáticas </strong><small>{{filtrarData.length}}</small>
            <!--<b-button type="button" size="sm" variant="primary" @click="abrir_modal_problematica()" class="mr-1 float-right"><i class="fa fa-lightbulb-o"></i> Añadir una problemática</b-button>-->
          </div>
          <b-list-group>
            <b-list-group-item v-for="(item,key) in filtrarData">{{item.titulo}}
              <b-button @click="mostrar_segunda_linea(key)"  title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right">
                <i class="fa fa-plus"></i> Ver problemas
              </b-button>
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-col>


      <b-col md="4" v-if="segunda_linea_arbol" v-show="segunda_linea_arbol == true">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Problemas </strong><small>{{filtrarData[segunda_linea_num].items.length}}</small>
            <b-button type="button" size="sm" variant="primary" @click="abrir_modal_problema()" class="mr-1 float-right"><i class="fa fa-lightbulb-o"></i> Añadir un problema puntual</b-button>
            <b-button @click="mostrar_primera_linea(primera_linea_num)" title="Volver" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-back"></i>Ir a temáticas</b-button>
          </div>
          <b-list-group>
            <b-list-group-item v-for="(item,key) in filtrarData[segunda_linea_num].items">{{item.titulo}}  <span v-if="item.fecha">{{item.fecha}}</span>
              <b-button @click="mostrar_tercera_linea(key)"  title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right">
                <i class="fa fa-plus"></i> Ver ejemplos de problemas
              </b-button>
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-col>



      <b-col md="4" v-if="tercera_linea_arbol" v-show="tercera_linea_arbol == true">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Problema puntual </strong><small>{{filtrarData[segunda_linea_num].items[tercera_linea_num].items.length}}</small>
            <b-button type="button" size="sm" variant="primary" @click="abrir_modal_aporte()" class="mr-1 float-right"><i class="fa fa-lightbulb-o"></i> A</b-button>
            <b-button @click="mostrar_segunda_linea(segunda_linea_num)" title="Volver" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-back"></i>Volver</b-button>
          </div>
          <b-list-group>
            <b-list-group-item v-for="(item,key) in filtrarData[segunda_linea_num].items[tercera_linea_num].items">{{item.titulo}}
              <b-button @click="mostrar_cuarta_linea(key)" title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right">
                <i class="fa fa-plus"></i> Ver aportes de la gente
              </b-button>
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-col>


      <b-col md="4" v-if="cuarta_linea_arbol" v-show="cuarta_linea_arbol == true">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Opiniones </strong><small>{{filtrarData[segunda_linea_num].items[tercera_linea_num].items[cuarta_linea_num].items.length}}</small>
            <b-button type="button" size="sm" variant="primary" @click="abrir_modal_opinion()" class="mr-1 float-right"><i class="fa fa-lightbulb-o"></i> Añadir dato</b-button>
            <b-button @click="mostrar_tercera_linea(tercera_linea_num)" title="Volver" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-back"></i>Volver</b-button>
          </div>
          <b-list-group>
            <b-list-group-item v-for="(item,key) in filtrarData[segunda_linea_num].items[tercera_linea_num].items[cuarta_linea_num].items">{{item.titulo}}
              <b-button type="button" size="sm" variant="primary" @click="abrir_modal_archivo(key)" class="mr-1 float-right"><i class="fa fa-lightbulb-o"></i> Subir csv</b-button>
              <b-button v-if="item.csv != ''" type="button" v-b-toggle="'csv-'+key" size="sm" variant="dark" class="mr-1 float-right" >Ver csv</b-button>
              <b-collapse :ref="'csv-'+key" :id="'csv-'+key" class="mt-2 mr-2" style="background:#fff;padding:10px 20px;border-radius:20px 0px 20px 20px;">
                <p class="h5 mt-4">CSV</p>
                <p style="white-space: pre-line" v-html="item.csv"></p>
              </b-collapse>
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-col>



    </b-row><!--/.row-->
  </div>
</template>








<script>
import TextReader from "./TextReader";

import SocialBoxChartExample from './dashboard/SocialBoxChartExample'
export default {
  name: 'widgets',
  components: {
    TextReader,
    SocialBoxChartExample
  },
  data () {
    return {
      text: '',
      name: '',
      image: '',
      success: '',

      titulo: '',
      msg: 'Widgets',
      modal:{
        estado: false,
        opcion: 'crear',
        titulo:'Añadir un ticket',
        variante: 'success',
        clase: 'modal-primary',
        error: true,
        error_validacion: false
      },
      cuarta_linea_num: 0,
      cuarta_linea_arbol: false,
      tercera_linea_num: 0,
      tercera_linea_arbol: false,
      segunda_linea_num: 0,
      segunda_linea_arbol: false,
      primera_linea_num: 0,
      primera_linea_arbol: true,
      archivo: {
          titulo: '',
          csv: '',
          key:'',
          estado: false,
          error: false,
          nombre:'',
      },
      opinion: {
          titulo: '',
          estado: false,
      },
      aporte: {
          titulo: '',
          estado: false,
      },
      problema:{
        titulo: '',
        fecha:'',
        estado: false,
      },
      problematica: {
          titulo: '',
          estado: false,
      },
      problematicas:[
        {
          titulo: "Rol ciudadano",
          items: [
            {
              titulo: "Contaminación",
              fecha: '2019-03-04',
              items:[
                {
                  titulo: "Contaminación plaza viña",
                  items:[
                    {
                      titulo: "Primer aporte",
                      csv:''
                    },
                    {
                      titulo: "Segundo aporte",
                      csv:''
                    }
                  ]
                },
                {
                  titulo: "Contaminación cerro forestal",
                  items:[]
                }
              ]
            },
            {
              titulo: "Calles",
              fecha: '2019-03-05',
              items:[
                {
                  titulo: "Eventos en calle 7",
                  items:[]
                },
                {
                  titulo: "Asfalto feo",
                  items:[]
                }
              ]
            }
          ]
        },
        {
          titulo: "Otros",
          items: [
            {
              titulo: "Aeropuerto",
              items:[
                {
                  titulo: "Contaminación plaza viña",
                  items:[]
                },
                {
                  titulo: "Contaminación cerro forestal",
                  items:[]
                }
              ]
            },
          ]
        }
      ],
    }
  },
  mounted(){
  },
  computed:{
    filtrarData(){
      var categoria = this.$route.params.categoria;
      var num = '';
      switch(categoria){
        case 'rol':
          this.titulo = this.problematicas[0].titulo;
          this.mostrar_segunda_linea(0)
          break;
        case 'otros':
          this.titulo = this.problematicas[1].titulo;
          this.mostrar_segunda_linea(1)
          break;
        default:
          this.titulo = 'Todos';
          this.mostrar_primera_linea(9)
      }
      return this.problematicas
    }
  },
  methods:{




    onImageChange(e){
        console.log(e.target.files[0]);
        this.image = e.target.files[0];
    },
    formSubmit(e) {
        e.preventDefault();
        let currentObj = this;

        const config = {
            headers: { 'content-type': 'multipart/form-data' }
        }

        let formData = new FormData();
        formData.append('image', this.image);

    },

    mostrar_cuarta_linea(key){
      this.cuarta_linea_num = key;
      this.primera_linea_arbol = false;
      this.segunda_linea_arbol = false;
      this.tercera_linea_arbol = false;
      this.cuarta_linea_arbol = true;
    },
    mostrar_tercera_linea(key){
      this.tercera_linea_num = key;
      this.primera_linea_arbol = false;
      this.segunda_linea_arbol = false;
      this.tercera_linea_arbol = true;
      this.cuarta_linea_arbol = false;
    },
    mostrar_segunda_linea(key){
      this.segunda_linea_num = key;
      this.primera_linea_arbol = false;
      this.segunda_linea_arbol = true;
      this.tercera_linea_arbol = false;
      this.cuarta_linea_arbol = false;
    },
    mostrar_primera_linea(key){
      this.primera_linea_num = key;
      this.primera_linea_arbol = true;
      this.segunda_linea_arbol = false;
      this.tercera_linea_arbol = false;
      this.cuarta_linea_arbol = false;
    },
    agregar_archivo(evt){
      //validacion
      evt.preventDefault();
      this.archivo.error = false;
      console.log(this.archivo.nombre.slice(-3));

      if(this.archivo.nombre.slice(-3) != 'csv'  ){
        console.log('gallardo');
        this.archivo.error = true;
        return false;
      }else{
        console.log('nelson');
        this.archivo.estado = false;
      }

      this.problematicas[this.segunda_linea_num].items[this.tercera_linea_num].items[this.cuarta_linea_num].items[this.archivo.key].titulo = this.archivo.titulo;
      this.problematicas[this.segunda_linea_num].items[this.tercera_linea_num].items[this.cuarta_linea_num].items[this.archivo.key].csv = this.archivo.csv;

      this.archivo.csv = '';
      this.archivo.titulo = '';
      this.archivo.nombre = '';
      this.archivo.key = '';


    },
    agregar_opinion(){
      let objeto = {
          titulo : this.opinion.titulo,
          csv: '',
      }
      this.problematicas[this.segunda_linea_num].items[this.tercera_linea_num].items[this.cuarta_linea_num].items.push(objeto);
    },
    agregar_aporte(){
      let objeto = {
          titulo : this.aporte.titulo,
          items:[]
      }
      this.problematicas[this.segunda_linea_num].items[this.tercera_linea_num].items.push(objeto);
    },
    agregar_problema(){
      let objeto = {
          titulo : this.problema.titulo,
          fecha: this.problema.fecha,
          items:[]
      }
      this.problematicas[this.segunda_linea_num].items.push(objeto);
    },
    agregar_problematica(){
      let objeto = {
          titulo : this.problematica.titulo,
          items:[]
      }
      this.problematicas.push(objeto);
    },
    abrir_modal_archivo(key){
      this.archivo.titulo = this.problematicas[this.segunda_linea_num].items[this.tercera_linea_num].items[this.cuarta_linea_num].items[key].titulo;
      this.archivo.csv = '';
      this.archivo.key = key;
      this.archivo.estado = true;
      this.archivo.error = false;
    },
    abrir_modal_opinion(){
      this.opinion.titulo = '';
      this.opinion.estado = true;
    },
    abrir_modal_aporte(){
      this.aporte.titulo = '';
      this.aporte.estado = true;
    },
    abrir_modal_problematica(){
      this.problematica.titulo = '';
      this.problematica.estado = true;
    },
    abrir_modal_problema(){
      this.problema.titulo = '';
      this.problema.estado = true;
    },
  }
}
</script>
