<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col sm="6" lg="3">
        <h1 class="mt-2 mb-4">Plataforma Cityaware</h1>
        <h2 class="mt-2 mb-4">Rol Ciudadano: Contaminación</h2>
      </b-col>
    </b-row>



        <b-modal id="modalPrevent"  ref="modal" size="lg" :title="modal.titulo" :class="modal.clase" v-model="modal.estado" @ok="" :ok-variant="modal.variante">

            <b-row v-if="modal.error_validacion" >
              <b-col sm="12" md="12">
                <b-alert show variant="danger">
                  <h6 class="alert-heading mb-0">Ingrese todos los campos!</h6>
                </b-alert>
              </b-col>
            </b-row><!--/.row-->

            <b-row v-if="modal.opcion == 'eliminar'">
              <b-col sm="12">
                <p>Al hacer clic en "eliminar", borrará de la base de datos el registro. ¿Está seguro de continuar?.</p>
              </b-col>
            </b-row>

            <b-row v-if="modal.opcion == 'crear' || modal.opcion == 'editar'">
              <b-col md="9">
                <b-row>
                  <b-col sm="12">
                    <b-form-group>
                      <label for="titulo">Título</label>
                      <b-form-input type="text" id="titulo" placeholder="Ingrese título del ticket" v-model="problema.titulo"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col sm="4">
                    <b-form-group>
                      <label for="reparticion">Repartición</label>
                      <b-form-input type="text" id="reparticion" placeholder="Ej: DIRECSAN" v-model="problema.reparticion"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group>
                      <label for="categoria">Categoría</label>
                      <b-form-input type="text" id="categoria" placeholder="Ej: Correo malicioso" v-model="problema.categoria"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group>
                      <label for="ip">IP</label>
                      <b-form-input type="text" id="ip" placeholder="Ej: 172.18.25.87" v-model="problema.ip"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col sm="12">
                    <b-form-group>
                      <label for="comentarios">Comentarios</label>
                      <b-form-textarea id="comentarios" v-model="problema.descripcion" :style="'height:300px;'" :rows="9" placeholder="Ingrese comentarios" ></b-form-textarea>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>


            <b-row v-if="modal.error == true">
              <b-col sm="12">
                <b-alert show variant="danger">
                  <h4 class="alert-heading">Rellene los campos!</h4>
                </b-alert>
              </b-col>
            </b-row>

        </b-modal>



    <b-row>

      <b-col md="6">
        <b-card
          header-tag="header"
          footer-tag="footer">
          <div slot="header">
            <i class="fa fa-align-justify"></i><strong> Problemas en Rol Ciudadano </strong>
            <div class="card-header-actions">
              <a href="https://bootstrap-vue.js.org/docs/components/list-group" class="card-header-action" rel="noreferrer noopener" target="_blank">
                <small class="text-muted">docs</small>
              </a>
            </div>
          </div>
          <b-list-group>
            <b-list-group-item>Contaminación de cianuro en valparaiso<b-button @click="abrir_modal('crear','modal-primary','success','Crear ticket')" v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar complemento de información</b-button></b-list-group-item>
            <b-list-group-item>Contaminación en quintero <b-button v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar problema</b-button></b-list-group-item>
            <b-list-group-item>Cras justo odio <b-button v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar problema</b-button></b-list-group-item>
            <b-list-group-item>Cras justo odio <b-button v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar problema</b-button></b-list-group-item>
            <b-list-group-item>Cras justo odio <b-button v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar problema</b-button></b-list-group-item>
            <b-list-group-item>Cras justo odio <b-button v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar problema</b-button></b-list-group-item>
            <b-list-group-item>Cras justo odio <b-button v-b-tooltip.hover title="Agregar problema" type="button" size="sm" variant="info"  class="mr-1 float-right"><i class="fa fa-plus"></i> Agregar problema</b-button></b-list-group-item>
          </b-list-group>

        </b-card>
      </b-col>


      <b-col md="6">
        <b-card>
          <div slot="header">
            <strong>Credit Card </strong> <small>Form</small>
          </div>
          <b-row>
            <b-col sm="12">
              <b-form-group>
                <label for="name">Name</label>
                <b-form-input type="text" id="name" placeholder="Enter your name"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <b-form-group>
                <label for="ccnumber">Credit Card Number</label>
                <b-form-input type="text" id="ccnumber" placeholder="0000 0000 0000 0000"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="4">
              <b-form-group >
                <label for="month1">Month</label>
                <b-form-select id="month1"
                  :plain="true"
                  :options="[1,2,3,4,5,6,7,8,9,10,11,12]">
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="4">
              <b-form-group>
                <label for="year1">Year</label>
                <b-form-select id="year1"
                  :plain="true"
                  :options="[2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025]">
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="4">
              <b-form-group>
                <label for="cvv">CVV/CVC</label>
                <b-form-input type="text" id="cvv" placeholder="123"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-card>
      </b-col>

    </b-row><!--/.row-->
  </div>
</template>

<script>
import SocialBoxChartExample from './dashboard/SocialBoxChartExample'
export default {
  name: 'widgets',
  components: {
    SocialBoxChartExample
  },
  data () {
    return {
      msg: 'Widgets',
      modal:{
        estado: false,
        opcion: 'crear',
        titulo:'Añadir un ticket',
        variante: 'success',
        clase: 'modal-primary',
        error: true,
        error_validacion: false
      },
      problema: '',
    }
  },
  methods:{
    abrir_modal(opcion, clase, variante, titulo, key){
      this.modal.opcion = opcion;
      this.modal.variante = variante;
      this.modal.clase = clase;
      this.modal.titulo = titulo;
      this.modal.estado = true;
      this.modal.error = false;
      switch (opcion) {
          case "crear":
            this.problema.id = '';
            break;
          case "editar":
            break;
          case "eliminar":
            break;
            default:
      }
    },
  }
}
</script>
